body {
    padding-top: 70px;
}

#rightNavPart {
    padding-right: 30px;
}

#logo{
    font-size: 26px;
}

#logo:after{
    content: url('../img/image.png');
}

ul {
    list-style-type: none;
}

.adImage{
    width:100%;
}
footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
}