<div ng-include="'notLoggedNavbar.html'" ng-if="!isLogged"></div>
<div ng-include="'loggedNavbar.html'" ng-if="isLogged"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <ul>
                <li ng-repeat="ad in allAds.ads | filter: {categoryId : selectedCategory.id}">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>{{ad.title}}</h4>
                            </div>
                            <div class="col-md-4 text-right">
                                {{ad.date | date:'d-MMM-yyyy'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="adImage" src="" alt="Ad Image" ng-src="{{ad.imageDataUrl}}">
                            </div>
                            <div class="col-md-8">
                                <div class="well">
                                    {{ad.text}}
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5>Name</h5>
                                    </div>
                                    <div class="col-md-10 well well-sm">
                                        <h5>{{ad.ownerName}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>Email:</h5>
                                    </div>
                                    <div class="col-md-10 well well-sm">
                                        <h5>{{ad.ownerEmail}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>Tel.</h5>
                                    </div>
                                    <div class="col-md-10 well well-sm">
                                        <h5>{{ad.ownerPhone}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><strong>Categories</strong></div>
                <div class="panel-body">
                    <a href="#">All</a>
                    <select>
                        <option ng-repeat="category in allCategories" ng-model="selectedCategory">{{category.name}}</option>
                    </select>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center"><strong>Towns</strong></div>
                <div class="panel-body">
                    <a href="#">All</a>
                    <ul>
                        <li ng-repeat="town in allTowns  | limitTo: 4">
                            <a href="" ng-click="getTownId()">{{town.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>