<div class="navbar-collapse collapse navbar-responsive-collapse" ng-if="isLogged" ng-controller="LogoutController">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#/">My Ads</a></li>
        <li class="active"><a href="#/">Publish New Ad</a></li>
        <li class="active"><a href="#/">Edit Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="">Welcome, {{displayUsername()}}</a></li>
        <li><a href="#/logout" ng-click="logout()">Logout</a></li>
    </ul>
</div>